node_modules
.next
.turbo
dist
coverage
playwright-report
test-results
*.tsbuildinfo
*.log
.tmp-*
.private
pnpm-debug.log*
.env
.env.local
.env.production
vendor
apps/yuta-pos/.tmp/prints/*
!apps/yuta-pos/.tmp/prints/.gitkeep
apps/yuta-pos/.tmp/*.log
